.frmInput {
	border: 2px solid red;
	border-radius: 4px;
	padding: 3px;
	width: 200px;
}

.suggested_words {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}

.suggested_words p {
	cursor: pointer;
}

.related_words p {
	cursor: pointer;
}

.related_words {
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}

div.input_sec {
	width: 100%;
}

div.input_sec input[type=text] {
	margin: 0% 25% 0% 25%;
}

figure.logo {
	width: 250px; 
	height: 250px; 
	margin: 0% 25% 0% 25%;  
}

figure.logo img {
	width: 100%; 
	height: 100%; 
	margin: 0px;
}

#sidebar {
	display: block;
	background-color: #FFF0F0;
	width: 23%;
	position: fixed;
	height: 75%;
	list-style-type: none;
	font-size: 12pt;
	text-align: center;
	box-shadow: 10px 10px 15px grey;
}

div.sec {
	width: 50%;
	height: 200px; 
	display: inline; 
	float: left; 
	padding: 0px;
	background-color: #FFF0F0;
	box-shadow: 1px 5px 3px #AAAAAA;
}

table {
	display: inline-table;
	font-family: arial, sans-serif;
	border: solid 1px;
	border-collapse: collapse;
}

td {
	padding: 8px;
	border: solid 1px;
	text-align: left;
}

tr:nth-child(even) {
	 background-color: #dddddd;
}
		
